<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.BangLuongMapper">
    <select id="getAllBangLuong">

    </select>

    <select id="getBangLuongNhanVienByMonth">

    </select>

    <resultMap id="resultMapThongKeMucLuongTheoSoLuongNhanVien" type="BangLuong">
        <result property="mucLuong" column="muc_luong"/>
        <result property="soNhanVien" column="so_nhan_vien"/>
    </resultMap>

    <select id="getMucLuongTheoSoLuongNhanVien" resultMap="resultMapThongKeMucLuongTheoSoLuongNhanVien">
        WITH CTE_Luong AS (
            SELECT
                CASE
                    WHEN tong_luong &lt; 10000000 THEN '&lt;10'
                    WHEN tong_luong BETWEEN 10000000 AND 20000000 THEN '10-20'
                    WHEN tong_luong BETWEEN 20000000 AND 30000000 THEN '20-30'
                    ELSE '&gt;30'
                    END AS muc_luong,
                ma_nhan_vien
            FROM
                bang_luong
        ),
             MucLuong AS (
                 SELECT '&lt;10' AS muc_luong
                 UNION ALL
                 SELECT '10-20'
                 UNION ALL
                 SELECT '20-30'
                 UNION ALL
                 SELECT '&gt;30'
             )
        SELECT
            ML.muc_luong,
            COALESCE(COUNT(CL.ma_nhan_vien), 0) AS so_nhan_vien
        FROM
            MucLuong ML
                LEFT JOIN
            CTE_Luong CL
            ON
                ML.muc_luong = CL.muc_luong
        GROUP BY
            ML.muc_luong
        ORDER BY
            CASE
                WHEN ML.muc_luong = '&lt;10' THEN 1
                WHEN ML.muc_luong = '10-20' THEN 2
                WHEN ML.muc_luong = '20-30' THEN 3
                ELSE 4
                END
    </select>
</mapper>