<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.BangLuongMapper">
    <select id="getAllBangLuong">

    </select>

    <select id="getBangLuongNhanVienByMonth">

    </select>

    <resultMap id="resultMapThongKeMucLuongTheoSoLuongNhanVien" type="BangLuong">
        <result property="mucLuong" column="muc_luong"/>
        <result property="soNhanVien" column="so_nhan_vien"/>
    </resultMap>

    <select id="getMucLuongTheoSoLuongNhanVien" resultMap="resultMapThongKeMucLuongTheoSoLuongNhanVien">
        WITH CTE_Luong AS (
            SELECT
                CASE
                    WHEN tong_luong &lt; 10000000 THEN '&lt;10'
                    WHEN tong_luong BETWEEN 10000000 AND 20000000 THEN '10-20'
                    WHEN tong_luong BETWEEN 20000000 AND 30000000 THEN '20-30'
                    ELSE '&gt;30'
                    END AS muc_luong,
                ma_nhan_vien
            FROM
                bang_luong
        )
        SELECT
            muc_luong,
            COUNT(ma_nhan_vien) AS so_nhan_vien
        FROM
            CTE_Luong
        GROUP BY
            muc_luong
        ORDER BY
            CASE
                WHEN muc_luong = '&lt;10' THEN 1
                WHEN muc_luong = '10-20' THEN 2
                WHEN muc_luong = '20-30' THEN 3
                ELSE 4
                END
    </select>
</mapper>