<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.ChiTietCuocHopMapper">
    <insert id="insertChiTietCuocHop">
        insert into chi_tiet_cuoc_hop(
            ma_cuoc_hop,
            ma_nhan_vien
        )
        VALUES (
            #{maCuocHop},
            #{maNhanVien}
        )
    </insert>

    <delete id="deleteChiTietCuocHop">
        DELETE FROM chi_tiet_cuoc_hop
        WHERE ma_cuoc_hop = #{maCuocHop}
        AND ma_nhan_vien = #{maNhanVien}
    </delete>

    <select id="getDanhSachMaNhanVienByCuocHop">
        SELECT ma_nhan_vien
        FROM chi_tiet_cuoc_hop
        WHERE ma_cuoc_hop = #{maCuocHop}
    </select>
</mapper>