<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.LichSuCongViecMapper">

    <resultMap id="resultMapLichSuCongVien" type="LichSuCongViec">
        <id property="maLichSu" column="ma_lich_su"/>
        <result property="maNhanVien" column="ma_nhan_vien"/>
        <result property="tenCongTy" column="ten_cong_ty"/>
        <result property="viTri" column="vi_tri"/>
        <result property="thoiGianBatDau" column="thoi_gian_bat_dau"/>
        <result property="thoiGianKetThuc" column="thoi_gian_ket_thuc"/>
        <result property="moTaCongViec" column="mo_ta_cong_viec"/>
    </resultMap>

    <sql id="columnLichSuCongViec">
        ma_lich_su
        , ma_nhan_vien
        , ten_cong_ty
        , vi_tri
        , thoi_gian_bat_dau
        , thoi_gian_ket_thuc
        , mo_ta_cong_viec
    </sql>

    <select id="findByMaNhanVien" resultMap="resultMapLichSuCongVien">
        SELECT
            <include refid="columnLichSuCongViec"/>
        FROM lich_su_cong_viec
        <where>
            ma_nhan_vien = #{maNhanVien}
        </where>
    </select>

</mapper>