<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.NgayLeMapper">
    <select id="isNgayLe">
        SELECT EXISTS(
            SELECT
                1
             FROM ngay_le
            <where>
                ngay_thang = #{ngayChamCong}
            </where>
        )
    </select>
</mapper>