<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.NghiPhepNamMapper">
    <resultMap id="resultMapNghiPhepNam" type="NghiPhepNam">
        <result column="ma_nhan_vien" property="maNhanVien"/>
        <result column="tong_so_ngay_phep_con" property="tongSoNgayPhepCon"/>
    </resultMap>

    <select id="getNghiPhepNam" resultMap="resultMapNghiPhepNam">
        SELECT
            ma_nhan_vien,
            tong_so_ngay_phep_con
        FROM nghi_phep_nam
        WHERE ma_nhan_vien = #{maNhanVien}
        AND nam = #{nam}
    </select>

    <insert id="insertNghiPhepNam">
        INSERT INTO nghi_phep_nam(
            nam,
            tong_so_ngay_phep_nam,
            tong_so_ngay_da_nghi,
            tong_so_ngay_phep_cong_don,
            tong_so_ngay_phep_con,
            ma_nhan_vien
        )
        VALUES (
                   #{nghiPhepNam.nam},
                   #{nghiPhepNam.tongSoNgayPhepNam},
                   #{nghiPhepNam.tongSoNgayDaNghi},
                   #{nghiPhepNam.tongSoNgayPhepCongDon},
                   #{nghiPhepNam.tongSoNgayPhepCon},
                   #{nghiPhepNam.maNhanVien}
               )
    </insert>

    <update id="updateTongSoNgayPhepCon">
        UPDATE nghi_phep_nam
        SET tong_so_ngay_phep_con = #{nghiPhepNam.tongSoNgayPhepCon}
        WHERE ma_nhan_vien = #{nghiPhepNam.maNhanVien}
          AND nam = #{nghiPhepNam.nam}
    </update>

    <update id="updateTongSoNgayPhepNam">
        UPDATE nghi_phep_nam
        SET tong_so_ngay_da_nghi = tong_so_ngay_da_nghi + #{soNgayNghi},
            tong_so_ngay_phep_con = tong_so_ngay_phep_con - #{soNgayNghi}
        WHERE ma_nhan_vien = #{maNhanVien}
          AND nam = #{nam}
    </update>

    <select id="isExistNghiPhepNam">
        SELECT EXISTS(
            SELECT 1
            FROM nghi_phep_nam
            WHERE ma_nhan_vien = #{maNhanVien}
              AND nam = #{nam}
        )
    </select>
</mapper>