<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.PheDuyetMapper">
    <resultMap id="resultMapPheDuyet" type="PheDuyet">
        <id property="maPheDuyet" column="ma_phe_duyet" />
        <result property="maDon" column="ma_don" />
        <result property="maNhanVien" column="ma_nhan_vien" />
        <result property="trangThai" column="trang_thai" />
        <result property="ghiChu" column="ghi_chu" />
        <result property="ngayPheDuyet" column="ngay_phe_duyet" />
    </resultMap>

    <sql id="columnPheDuyet">
        ma_phe_duyet
        , ma_don
        , ma_nhan_vien
        , trang_thai
        , ghi_chu
        , ngay_phe_duyet
    </sql>

    <insert id="insertPheDuyet">
        INSERT INTO phe_duyet (
            ma_don
          , ma_nhan_vien
          , trang_thai
          , ghi_chu
          , ngay_phe_duyet
        )
        VALUES
            (
             #{pheDuyet.maDon},
             #{pheDuyet.maNhanVien},
             #{pheDuyet.trangThai},
             #{pheDuyet.ghiChu},
             #{pheDuyet.ngayPheDuyet}
            )
    </insert>

    <update id="updatePheDuyet">
        UPDATE phe_duyet
        SET trang_thai = #{pheDuyet.trangThai},
            ghi_chu = #{pheDuyet.ghiChu},
            ngay_phe_duyet = now()
        <where>
            ma_don = #{pheDuyet.maDon}
        </where>
    </update>

    <delete id="deletePheDuyet">
        DELETE FROM phe_duyet
        <where>
            ma_don = #{maDon}
        </where>
    </delete>

    <select id="findAll" resultMap="resultMapPheDuyet">
        SELECT
            <include refid="columnPheDuyet"/>
        FROM phe_duyet
        <where>
            ma_nhan_vien = #{maNhanVien}
        </where>
    </select>

</mapper>