<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.PheDuyetMapper">
    <resultMap id="resultMapPheDuyet" type="PheDuyet">
        <result property="maDon" column="ma_don" />
        <result property="hoTenNguoiPheDuyet" column="ho_ten_nguoi_phe_duyet" />
        <result property="hoTenNguoiTao" column="ho_ten_nguoi_tao" />
        <result property="loaiDon" column="loai_don" />
        <result property="trangThai" column="trang_thai" />
        <result property="ngayTao" column="ngay_tao" />
        <result property="ngayPheDuyet" column="ngay_phe_duyet" />
    </resultMap>

    <sql id="columnPheDuyet">
        phe_duyet.ma_don,
        nguoi_phe_duyet.ho_ten AS ho_ten_nguoi_phe_duyet,
        nguoi_tao.ho_ten       AS ho_ten_nguoi_tao,
        don_yeu_cau.loai_don,
        phe_duyet.trang_thai,
        don_yeu_cau.ngay_tao,
        phe_duyet.ngay_phe_duyet
    </sql>

    <insert id="insertPheDuyet">
        INSERT INTO phe_duyet (
            ma_don
          , ma_nhan_vien
          , trang_thai
          , ghi_chu
          , ngay_phe_duyet
        )
        VALUES
            (
             #{pheDuyet.maDon},
             #{pheDuyet.maNhanVien},
             #{pheDuyet.trangThai},
             #{pheDuyet.ghiChu},
             #{pheDuyet.ngayPheDuyet}
            )
    </insert>

    <update id="updatePheDuyet">
        UPDATE phe_duyet
        SET trang_thai = #{pheDuyet.trangThai},
            ghi_chu = #{pheDuyet.ghiChu},
            ngay_phe_duyet = now()
        <where>
            ma_don = #{pheDuyet.maDon}
        </where>
    </update>

    <delete id="deletePheDuyet">
        DELETE FROM phe_duyet
        <where>
            ma_don = #{maDon}
        </where>
    </delete>

    <select id="findAll" resultMap="resultMapPheDuyet">
        SELECT
            <include refid="columnPheDuyet"/>
        FROM phe_duyet
            JOIN don_yeu_cau ON phe_duyet.ma_don = don_yeu_cau.ma_don
            JOIN nhan_vien nguoi_tao ON don_yeu_cau.ma_nhan_vien = nguoi_tao.ma_nhan_vien
            JOIN nhan_vien nguoi_phe_duyet ON phe_duyet.ma_nhan_vien = nguoi_phe_duyet.ma_nhan_vien
        <where>
            nguoi_phe_duyet.ma_nhan_vien = #{maNhanVien}
        </where>
    </select>

    <resultMap id="resultMapApprovalDetails" type="ApprovalDetails">
        <result property="emailNguoiPheDuyet" column="email_nguoi_phe_duyet"/>
        <result property="hoTenNguoiPheDuyet" column="ho_ten_nguoi_phe_duyet"/>
        <result property="emailNguoiTao" column="email_nguoi_tao"/>
        <result property="hoTenNguoiTao" column="ho_ten_nguoi_tao"/>
        <result property="loaiDon" column="loai_don"/>
        <result property="ngayTao" column="ngay_tao"/>
        <result property="lyDo" column="ly_do"/>
        <result property="trangThai" column="trang_thai"/>
    </resultMap>

    <sql id="columnApprovalDetails">
        nguoi_phe_duyet.email AS email_nguoi_phe_duyet,
        nguoi_phe_duyet.ho_ten AS ho_ten_nguoi_phe_duyet,
        nguoi_tao.ho_ten AS ho_ten_nguoi_tao,
        don_yeu_cau.loai_don,
        don_yeu_cau.ngay_tao,
        don_yeu_cau.ly_do
    </sql>

    <select id="getApprovalDetails" resultMap="resultMapApprovalDetails">
        SELECT
            <include refid="columnApprovalDetails"/>
        FROM phe_duyet
             JOIN don_yeu_cau ON phe_duyet.ma_don = don_yeu_cau.ma_don
             JOIN nhan_vien nguoi_phe_duyet ON phe_duyet.ma_nhan_vien = nguoi_phe_duyet.ma_nhan_vien
             JOIN nhan_vien nguoi_tao ON don_yeu_cau.ma_nhan_vien = nguoi_tao.ma_nhan_vien
        <where>
            nguoi_phe_duyet.ma_nhan_vien = #{maNhanVien}
        </where>
        LIMIT 1
    </select>

    <sql id="columnInfoReqApproval">
        nguoi_phe_duyet.email  AS email_nguoi_phe_duyet
        , nguoi_tao.email        AS email_nguoi_tao
        , nguoi_phe_duyet.ho_ten AS ho_ten_nguoi_phe_duyet
        , nguoi_tao.ho_ten       AS ho_ten_nguoi_tao
        , loai_don
        , ly_do
        , phe_duyet.trang_thai as trang_thai
        , ngay_tao
    </sql>

    <select id="getInfoFromRequestApproval" resultMap="resultMapApprovalDetails">
        SELECT
            <include refid="columnInfoReqApproval"/>
        FROM don_yeu_cau
        JOIN nhan_vien nguoi_tao ON don_yeu_cau.ma_nhan_vien = nguoi_tao.ma_nhan_vien
        JOIN phe_duyet ON don_yeu_cau.ma_don = phe_duyet.ma_don
        JOIN nhan_vien nguoi_phe_duyet ON phe_duyet.ma_nhan_vien = nguoi_phe_duyet.ma_nhan_vien
        <where>
            nguoi_phe_duyet.ma_nhan_vien = #{maNhanVien}
        </where>
    </select>

</mapper>