<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.PhongBanMapper">

    <resultMap id="PhongBanResultMap" type="PhongBan">
        <id column="ma_phong_ban" property="maPhongBan"/>
        <result column="ten_phong_ban" property="tenPhongBan"/>
        <result column="truong_phong" property="truongPhong"/>
        <result column="so_luong_nhan_vien" property="soLuongNhanVien"/>
    </resultMap>

    <select id="findAll" resultMap="PhongBanResultMap">
        SELECT p.ma_phong_ban,
               p.ten_phong_ban,
               n.ho_ten AS truong_phong,
               COUNT(nv.ma_nhan_vien) AS so_luong_nhan_vien
        FROM phong_ban p
                 LEFT JOIN nhan_vien n
                           ON p.truong_phong = n.ma_nhan_vien
                 LEFT JOIN nhan_vien nv
                           ON nv.ma_phong_ban = p.ma_phong_ban
        GROUP BY p.ma_phong_ban,
                 p.ten_phong_ban,
                 n.ho_ten;
    </select>

    <select id="findById" resultMap="PhongBanResultMap" parameterType="String">
        SELECT  ma_phong_ban
             ,ten_phong_ban
             ,truong_phong
        FROM phong_ban
            <if test="id != null and id != ''">
                WHERE ma_phong_ban = #{id}
            </if>
    </select>

    <select id="isExist" parameterType="String" resultType="Boolean">
        SELECT COUNT(ma_phong_ban) > 0
        FROM phong_ban
        WHERE ma_phong_ban = #{id}
    </select>

    <insert id="insertPhongBan" parameterType="com.fpt.vanguard.dto.request.PhongBanDtoRequest">
        INSERT INTO phong_ban (ma_phong_ban, ten_phong_ban, truong_phong)
        VALUES (
            #{PhongBan.maPhongBan}
            ,#{PhongBan.tenPhongBan}
            ,#{PhongBan.truongPhong}
        )
    </insert>

    <update id="updatePhongBan" parameterType="com.fpt.vanguard.dto.request.PhongBanDtoRequest">
        UPDATE phong_ban
        SET ten_phong_ban = #{PhongBan.tenPhongBan},
            truong_phong = #{PhongBan.truongPhong},
        WHERE ma_phong_ban = #{PhongBan.maPhongBan};
    </update>

    <delete id="deletePhongBan">
        DELETE FROM phong_ban
        WHERE ma_phong_ban = #{id}
    </delete>
</mapper>