<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.PhuCapMapper">

    <resultMap id="columnPhuCap" type="PhuCap">
        <id column="ma_phu_cap" property="maPhuCap"/>
        <result column="ten_phu_cap" property="tenPhuCap"/>
        <result column="so_tien" property="soTien"/>
        <result column="ma_nhan_vien" property="maNhanVien"/>
        <result column="ten_nhan_vien" property="tenNhanVien"/>
        <result column="ngay" property="ngay"/>
    </resultMap>

    <sql id="columnPhuCap">
        pc.ma_phu_cap,
        ten_phu_cap,
        so_tien
    </sql>

    <sql id="columnNhanVienPhuCap">
        nv.ma_nhan_vien,
        nv.ho_ten as ten_nhan_vien,
        pc.ma_phu_cap,
        ten_phu_cap,
        so_tien,
        nvpc.ngay
    </sql>



    <select id="getAllPhuCaps" resultMap="columnPhuCap">
        SELECT
        <include refid="columnPhuCap"></include>
        FROM phu_cap pc
    </select>

    <select id="isPhuCapExist">
        select exists(
            select 1
            from phu_cap
            where ma_phu_cap = #{maPhuCap}
        )
    </select>

    <select id="getNhanVienPhuCap">
        SELECT
           <include refid="columnNhanVienPhuCap"></include>
        FROM phu_cap pc
            LEFT JOIN nhan_vien_phu_cap nvpc on pc.ma_phu_cap = nvpc.ma_phu_cap
            LEFT JOIN nhan_vien nv on nvpc.ma_nhan_vien = nv.ma_nhan_vien
        WHERE nv.ma_nhan_vien = #{maNhanVien}
          AND nvpc.ngay = #{ngay}
          AND pc.ma_phu_cap = #{maPhuCap}
    </select>

    <insert id="insertPhuCap">
        INSERT INTO phu_cap(ma_phu_cap, ten_phu_cap, so_tien)
        VALUES (generate_ma_phu_cap(), #{tenPhuCap}, #{soTien});
    </insert>

    <update id="updatePhuCap">
        UPDATE phu_cap
        SET so_tien = #{soTien}
        WHERE ten_phu_cap = #{tenPhuCap};
    </update>

    <delete id="deletePhuCap">
        DELETE FROM phu_cap
        WHERE ma_phu_cap = #{maPhuCap}
    </delete>
</mapper>