<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.PhuCapMapper">
    <insert id="insertPhuCap">
    </insert>
    <update id="updatePhuCap">
    </update>
    <delete id="deletePhuCap">
    </delete>

    <resultMap id="columnPhuCap" type="PhuCap">
        <id column="ma_phu_cap" property="maPhuCap"/>
        <result column="ten_phu_cap" property="tenPhuCap"/>
        <result column="so_tien" property="soTienPhuCap"/>
    </resultMap>

    <select id="getAllPhuCaps" resultMap="columnPhuCap">
        SELECT
            ma_phu_cap,
            ten_phu_cap,
            so_tien
        FROM phu_cap
    </select>

    <select id="isPhuCapExist">
    </select>
</mapper>