<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.TuyenDungMapper">

    <resultMap id="TuyenDungResultMap" type="ViTriTuyenDung">
        <id column="ma_vi_tri_tuyen_dung" property="maViTriTuyenDung"/>
        <result column="ten_vi_tri" property="tenViTri"/>
        <result column="ma_phong_ban" property="maPhongBan"/>
        <result column="so_luong_tuyen" property="soLuongTuyen"/>
        <result column="so_luong_ung_tuyen" property="soLuongUngTuyen"/>
        <result column="trang_thai" property="trangThai"/>
        <result column="mo_ta" property="moTa"/>
        <result column="yeu_cau" property="yeuCau"/>
        <result column="ten_phong_ban" property="tenPhongBan"/>
    </resultMap>

    <sql id="columnViTriTuyenDung">
        ma_vi_tri_tuyen_dung
        , ten_vi_tri
        , vi_tri_tuyen_dung.ma_phong_ban
        , so_luong_tuyen
        , so_luong_ung_tuyen
        , trang_thai
        , mo_ta
        , yeu_cau
        , ten_phong_ban
    </sql>

    <select id="getAllTuyenDung" resultMap="TuyenDungResultMap">
        SELECT
            <include refid="columnViTriTuyenDung"/>
        FROM vi_tri_tuyen_dung
        join phong_ban on vi_tri_tuyen_dung.ma_phong_ban = phong_ban.ma_phong_ban
    </select>

    <select id="getTuyenDungById" resultMap="TuyenDungResultMap" parameterType="String">
        SELECT
            <include refid="columnViTriTuyenDung"/>
        FROM vi_tri_tuyen_dung
        WHERE ma_tuyen_dung = #{id}
    </select>

    <select id="isExist">
        SELECT COUNT(ma_vi_tri_tuyen_dung)
        FROM vi_tri_tuyen_dung
        WHERE ma_vi_tri_tuyen_dung = #{id}
    </select>

    <insert id="insertTuyenDung">
        INSERT INTO vi_tri_tuyen_dung (
           ma_vi_tri_tuyen_dung
          , ten_vi_tri
          , ma_phong_ban
          , so_luong_tuyen
          , so_luong_ung_tuyen
          , trang_thai
          , mo_ta
          , yeu_cau
        )
        VALUES (
           generate_ma_tuyen_dung(),
            #{tuyenDung.tenViTri},
            #{tuyenDung.maPhongBan},
            #{tuyenDung.soLuongTuyen},
            #{tuyenDung.soLuongUngTuyen},
            #{tuyenDung.trangThai},
            #{tuyenDung.moTa},
            #{tuyenDung.yeuCau}
        )
    </insert>

    <update id="updateTuyenDung">
        UPDATE vi_tri_tuyen_dung
        SET ten_vi_tri         = #{TuyenDung.tenViTri},
            ma_phong_ban       = #{TuyenDung.maPhongBan},
            so_luong_tuyen     = #{TuyenDung.soLuongTuyen},
            so_luong_ung_tuyen = #{TuyenDung.soLuongUngTuyen},
            trang_thai         = #{TuyenDung.trangThai},
            mo_ta              = #{TuyenDung.moTa},
            yeu_cau            = #{TuyenDung.yeuCau}
        WHERE ma_vi_tri_tuyen_dung = #{TuyenDung.maViTriTuyenDung}
    </update>
</mapper>