<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.TuyenDungMapper">

    <resultMap id="TuyenDungResultMap" type="ViTriTuyenDung">
        <id column="ma_vi_tri_tuyen_dung" property="maViTriTuyenDung"/>
        <result column="ten_vi_tri" property="tenViTri"/>
        <result column="ma_phong_ban" property="maPhongBan"/>
        <result column="so_luong_tuyen" property="soLuongTuyen"/>
        <result column="so_luong_ung_tuyen" property="soLuongUngTuyen"/>
        <result column="trang_thai" property="trangThai"/>
        <result column="mo_ta" property="moTa"/>
        <result column="yeu_cau" property="yeuCau"/>
    </resultMap>

    <sql id="columnViTriTuyenDung">
        ma_vi_tri_tuyen_dung
        , ten_vi_tri
        , ma_phong_ban
        , so_luong_tuyen
        , so_luong_ung_tuyen
        , trang_thai
        , mo_ta
        , yeu_cau
    </sql>

    <select id="getAllTuyenDung" resultMap="TuyenDungResultMap">
        SELECT
            <include refid="columnViTriTuyenDung"/>
        FROM vi_tri_tuyen_dung
    </select>

    <select id="getTuyenDungById" resultMap="TuyenDungResultMap" parameterType="String">
        SELECT
            <include refid="columnViTriTuyenDung"/>
        FROM vi_tri_tuyen_dung
        <if test="id != null and id != ''">
            WHERE ma_tuyen_dung = #{id}
        </if>
    </select>

    <select id="isExist" parameterType="String" resultType="Boolean">
        SELECT COUNT(mavi_tri_tuyen_dung)
        FROM vi_tri_tuyen_dung
        WHERE mavi_tri_tuyen_dung = #{id}
    </select>

    <insert id="insertTuyenDung">
        INSERT INTO vi_tri_tuyen_dung (
            , ten_vi_tri
            , ma_phong_ban
            , so_luong_tuyen
            , so_luong_ung_tuyen
            , trang_thai
            , mo_ta
            , yeu_cau
        )
        VALUES (#{tenViTri},
                #{maPhongBan},
                #{soLuongTuyen},
                #{soLuongUngTuyen},
                #{trangThai},
                #{moTa},
                #{yeuCau}
        )
    </insert>

    <update id="updateTuyenDung">
        UPDATE vi_tri_tuyen_dung
        SET ten_vi_tri           = #{tenViec},
            ma_phong_ban       = #{maPhongBan},
            so_luong_tuyen     = #{soLuongTuyen},
            so_luong_ung_tuyen = #{soLuongUngTuyen},
            trang_thai         = #{trangThai},
            mo_ta              = #{moTa},
            yeu_cau            = #{yeuCau}
        WHERE ma_tuyen_dung = #{maTuyenDung}
    </update>
</mapper>