<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.UngVienMapper">
    <resultMap id="resultMapUngVien" type="UngVien">
        <id column="ma_ung_vien" property="maUngVien"/>
        <result column="ho_ten" property="hoTen"/>
        <result column="gioi_tinh" property="gioiTinh"/>
        <result column="ngay_sinh" property="ngaySinh"/>
        <result column="dien_thoai" property="dienThoai"/>
        <result column="cccd" property="cccd"/>
        <result column="dia_chi" property="diaChi"/>
        <result column="hinh_anh" property="hinhAnh"/>
        <result column="email" property="email"/>
        <result column="ma_vi_tri_tuyen_dung" property="maViTriTuyenDung"/>
        <result column="trang_thai" property="trangThai"/>
    </resultMap>

    <sql id="columnUngVien">
        ma_ung_vien,
        ho_ten,
        gioi_tinh,
        ngay_sinh,
        dien_thoai,
        cccd,
        dia_chi,
        hinh_anh,
        email,
        uv.ma_vi_tri_tuyen_dung,
        uv.trang_thai
    </sql>


    <select id="findAll" resultMap="resultMapUngVien">
        SELECT
        <include refid="columnUngVien"/>
        FROM ung_vien uv
        join vi_tri_tuyen_dung vt
        on uv.ma_vi_tri_tuyen_dung = vt.ma_vi_tri_tuyen_dung
        <where>
            <if test="tenViTri != null and tenViTri != ''">
                ten_vi_tri = #{tenViTri}
            </if>
        </where>
    </select>

    <select id="isExistUngVien" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM ung_vien
            WHERE ma_ung_vien = #{maUngVien}
        )
    </select>

    <select id="getUngVienByViTriAndTrangThai" resultMap="resultMapUngVien">
        SELECT
            <include refid="columnUngVien"/>
        FROM ung_vien uv
        WHERE uv.ma_vi_tri_tuyen_dung = #{viTri} and uv.trang_thai = #{trangThai}
    </select>

    <select id="getUngVienById" resultMap="resultMapUngVien">
        SELECT
        <include refid="columnUngVien"/>
        FROM ung_vien uv
        WHERE ma_ung_vien = #{maUngVien}
    </select>

    <insert id="insertUngVien">
        INSERT INTO ung_vien
            (ma_ung_vien
            , ho_ten
            , gioi_tinh
            , ngay_sinh
            , dien_thoai
            , cccd
            , dia_chi
            , hinh_anh
            , email
            , ma_vi_tri_tuyen_dung
            , trang_thai
        ) VALUES
              (generate_ma_ung_vien()
              , #{hoTen}
              , #{gioiTinh}
              , #{ngaySinh}::DATE
              , #{dienThoai}
              , #{cccd}
              , #{diaChi}
              , #{hinhAnh}
              , #{email}
              , #{maViTriTuyenDung}
              ,#{trangThai})
    </insert>

    <update id="updateUngVien">
        UPDATE ung_vien
        SET
        ho_ten = #{hoTen},
        gioi_tinh = #{gioiTinh},
        ngay_sinh = #{ngaySinh}::DATE,
        dien_thoai = #{dienThoai},
        cccd = #{cccd},
        dia_chi = #{diaChi},
        hinh_anh = #{hinhAnh},
        email = #{email},
        ma_vi_tri_tuyen_dung = #{maViTriTuyenDung},
        ngay_phong_van = #{ngayPhongVan},
        dia_diem_phong_van = #{diaDiemPhongVan},
        ngay_bat_dau_lam_viec = #{ngayBatDatLam},
        <if test="trangThai != null and trangThai != ''">
            ,trang_thai = #{trangThai}
        </if>
        WHERE ma_ung_vien = #{maUngVien}

    </update>
    <delete id="deleteUngVien">
        DELETE FROM ung_vien
        WHERE ma_ung_vien = #{maUngVien}
    </delete>
</mapper>