<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fpt.vanguard.mapper.mybatis.UserMapper">

    <resultMap id="UserResultMap" type="User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="enabled" column="enabled"/>
        <result property="roleName" column="role_name"/>
        <result property="maNhanVien" column="ma_nhan_vien"/>
        <result property="tenNhanVien" column="ten_nhan_vien"/>
        <result property="dienThoai" column="dien_thoai"/>


        <association property="role" javaType="Role">
            <id property="roleId" column="role_id"/>
            <result property="roleName" column="role_name"/>
            <result property="roleDesc" column="role_description"/>
        </association>
    </resultMap>

    <resultMap id="UserRoleResultMap" type="User">
        <id property="userId" column="id"/>
        <result property="userName" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
    </resultMap>

    <sql id="ColumnUser">
        u.user_id
        , u.user_name
        , u.password
        , u.enabled
    </sql>

    <sql id="ColumnInfoUser">
        u.user_name
        ,u.enabled
        ,nv.ma_nhan_vien
        ,nv.ho_ten as ten_nhan_vien
        ,nv.dien_thoai
    </sql>


    <sql id="ColumnRole">
        r.role_id
        , r.role_name
        , r.role_description
    </sql>

    <insert id="insert" parameterType="User">
        INSERT INTO "user" (
            user_name,
            password,
            role_id
        )
        VALUES (
           #{user.userName},
           #{user.password},
           #{user.role.roleId}
               )
    </insert>

    <update id="delete">
        UPDATE "user"
        SET enabled = false
        WHERE user_name = #{username}
    </update>

    <update id="update">
    </update>

    <update id="updateRoleUser">
        UPDATE "user"
        SET role_id = #{user.role.roleId}
        WHERE user_name = #{user.userName}
    </update>

    <update id="updateStatusAccound">
        UPDATE "user"
        SET enabled = #{user.enabled}
        WHERE user_name = #{user.userName}
    </update>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT
            <include refid="ColumnUser"/>,
            <include refid="ColumnRole"/>
        FROM "user" u
        LEFT JOIN role r ON u.role_id = r.role_id
        <where>
            user_name = #{userName}
        </where>
    </select>

    <select id="findAll" resultMap="UserResultMap">
        SELECT
            <include refid="ColumnUser"/>,
            <include refid="ColumnRole"/>
        FROM "user" u
        LEFT JOIN role r ON u.role_id = r.role_id
    </select>

    <select id="findByRoleId" resultMap="UserRoleResultMap">
        SELECT
            <include refid="ColumnUser"/>,
            <include refid="ColumnRole"/>
        FROM "user" u
        LEFT JOIN role r ON u.role_id = r.role_id
        <where>
            role_id = #{roleId}
        </where>
    </select>

    <select id="isExist">
        SELECT COUNT(1) > 0
        FROM "user"
        WHERE user_name = #{username}
    </select>
    <select id="getInfoUser" resultMap="UserResultMap">
        select
            <include refid="ColumnInfoUser"></include>,
            <include refid="ColumnRole"></include>
        from "user" u
            Left Join role r on u.role_id = r.role_id
            Left Join nhan_vien nv on u.user_id = nv.user_id
    </select>

    <select id="getInfoUserByUserName" resultMap="UserResultMap">
        select
            <include refid="ColumnInfoUser"></include>,
            <include refid="ColumnRole"></include>
        from "user" u
            Left Join role r on u.role_id = r.role_id
            Left Join nhan_vien nv on u.user_id = nv.user_id
        WHERE u.user_name = #{userName}
    </select>

</mapper>