<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.fpt.vanguard.entity.NhanVien" alias="NhanVien"/>
        <typeAlias type="com.fpt.vanguard.entity.User" alias="User"/>
        <typeAlias type="com.fpt.vanguard.entity.Role" alias="Role"/>
        <typeAlias type="com.fpt.vanguard.entity.PhongBan" alias="PhongBan"/>
        <typeAlias type="com.fpt.vanguard.entity.HocVan" alias="HocVan"/>
        <typeAlias type="com.fpt.vanguard.entity.LichSuCongViec" alias="LichSuCongViec"/>
        <typeAlias type="com.fpt.vanguard.entity.DonYeuCau" alias="DonYeuCau"/>
        <typeAlias type="com.fpt.vanguard.entity.PheDuyet" alias="PheDuyet"/>
        <typeAlias type="com.fpt.vanguard.dto.response.ApprovalDetailsDtoResponse" alias="ApprovalDetails"/>
        <typeAlias type="com.fpt.vanguard.entity.ChucVu" alias="ChucVu"/>
        <typeAlias type="com.fpt.vanguard.entity.ViTriTuyenDung" alias="ViTriTuyenDung"/>
        <typeAlias type="com.fpt.vanguard.entity.UngVien" alias="UngVien"/>
        <typeAlias type="com.fpt.vanguard.entity.BangChamCong" alias="BangChamCong"/>
        <typeAlias type="com.fpt.vanguard.entity.NgayLe" alias="NgayLe"/>
        <typeAlias type="com.fpt.vanguard.entity.WifiInfo" alias="WifiInfo"/>
        <typeAlias type="com.fpt.vanguard.entity.Otp" alias="Otp"/>
        <typeAlias type="com.fpt.vanguard.entity.CuocHop" alias="CuocHop"/>
        <typeAlias type="com.fpt.vanguard.entity.PhuCap" alias="PhuCap"/>
        <typeAlias type="com.fpt.vanguard.entity.ViPham" alias="ViPham"/>
        <typeAlias type="com.fpt.vanguard.entity.NghiPhepNam" alias="NghiPhepNam"/>
        <typeAlias type="com.fpt.vanguard.entity.LoaiCong" alias="LoaiCong"/>
        <typeAlias type="com.fpt.vanguard.entity.BangLuong" alias="BangLuong"/>
    </typeAliases>
</configuration>
